mixin blogItem(lg,img,title,text)
	+b.blogItem&attributes(attributes)
		if lg
			.row
				.col-md
					+e.textBlock
						+e.category(href="#") wear
						+e.date 18.05.20
						+e.title.h6= title
						if text
							+e.descr= text
						+tools()
				+e.col.col-md-auto.order-md-first
					+e.imgWrap
						img.lazy.res-i(src="#" data-src=`img/@2x/blogItem-${img}.jpg` alt="")
		else
			+e.textBlock
				if img
					+e.imgBg.picture-bg
						img.lazy.res-i(src="#" data-src=`img/@2x/blogItem-${img}.jpg` alt="")
				+e.category(href="#") wear
				+e.date 18.05.20
				+e.title.h6(href="#")= title
				if text
					+e.descr(href="#")= text
				+tools()


mixin sBlog()
	// start sBlog
	+b.SECTION.sBlog.section#sBlog&attributes(attributes)
		+e.imgWrap.picture-bg
			img.lazy(data-src="img/@2x/blog-bg.jpg", alt="")
		.container
			+b.section-title.d-none.d-md-block
				h2 Blog
			.row
				.col-lg-8.col-xl-6
					+blogItem('lg','1','Mountaineering video tutorial','"Video mountaineering tutorial" in Russian from the Sport-Marathon team and Vladimir Molodozhen. A clear demonstration of the basic techniques of mountaineering ...')(class="bg-gray")
				.col-md-6.col-lg-4.col-xl-3
					+blogItem('','2','Man`s running shoes ASICS GEL-Nimbus 22 White/Electric Blue Mountaineering video tutorial')(class="imgBg minHeight")
				.col-md-6.col-lg-4.col-xl-3
					+blogItem('','3','Man`s running shoes ASICS GEL-Nimbus 22 White/Electric Blue Mountaineering video tutorial')(class="imgBg minHeight")
				.col-md-6.col-lg-4.col-xl-3
					.row
						.col-12
							+blogItem('','','Mountaineering video tutorial')(class='smBlock')
						.col-12
							+blogItem('','','Mountaineering video tutorial')(class='smBlock')
				.col-md-6.col-lg-4.col-xl-3.d-none.d-md-block
					+blogItem('','4','Man`s running shoes ASICS GEL-Nimbus 22 White/Electric Blue Mountaineering video tutorial')(class="imgBg minHeight")
				.col-lg-8.col-xl-6.d-none.d-lg-block
					+blogItem('lg','5','Mountaineering video tutorial','"Video mountaineering tutorial" in Russian from the Sport-Marathon team and Vladimir Molodozhen. A clear demonstration of the basic techniques of mountaineering ...')
				.col-md-4.col-xl-6.d-none.d-lg-block.d-xl-none
					.row
						.col-12
							+blogItem('','','Mountaineering video tutorial')(class='smBlock')
						.col-12
							+blogItem('','','Mountaineering video tutorial')(class='smBlock')
			+e.see-more.btn.btn-outline-primary(href="#") see more

	// end sBlog