mixin footer()
	+b.FOOTER.footer.block-with-lazy
		.container
			+e.row.row
				.col-xl-auto.order-xl-last
					+e.signUp
						.h4 Be the first to know
						p Sign up&nbsp;to&nbsp;our newsletter and keep up&nbsp;to&nbsp;date about Osprey products and promotions
						+form-wrap(class="footer-input-js")
							+e.enter(type="button")
								img.lazy(src="#" data-src="img/svg/enter.svg" alt="")
							+input('Email adress','email')
				.col-sm-auto.d-flex
					+e.menu
						+e.title catalog
						ul
							li: a(href="#") New items
							li: a(href="#") Sports
							li: a(href="#") Brands
							li: a(href="#") Stocks
					+e.menu
						+e.title information
						ul
							li: a(href="#") Shipping and payment
							li: a(href="#") Exchange and Return
							li: a(href="#") Discount system
							li: a(href="#") Offer
				.col
					+e.contacts
						+e.title contacts
						+e.tel(href="tel:+441202946444") + 44 1202 946444
						+e.soc Our social networks
						+soc()
			.row
				.col-sm-auto.order-sm-last
					+e.footMenu
						ul
							li: a(href="#") Terms & Conditions
							li: a(href="#") Privacy & Cookies
							li: a(href="#") UK Modern Slavery Statement
				.col
					+e.copyright Copyright 2020 Osprey Europe Ltd.
