mixin sSlider-action()
	// start sSlider-action
	+b.SECTION.sSlider-action.section#sSlider-action&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sSlider-action
				
			.row
	// end sSlider-action