mixin sSlider-action()
	// start sSlider-action
	+b.sSlider-action#sSlider-action&attributes(attributes)
		.container
			+section-title-vertical('Action')(class='d-none d-xl-block')
			+section-title-vertical('Seasons')(class='d-sm-none')
			.sSlider-action--js.swiper-container
				.swiper-wrapper
					mixin sliderSlide(img)
						.swiper-slide
							+e.sliderSlide
								+e.body
									img.swiper-lazy.res-i(src="#" data-src=`img/@2x/slider-action-${img}.png`, alt="")
									+e.title 20% off #[span on clothes]
					+sliderSlide('1')
					+sliderSlide('2')
					+sliderSlide('3')



	// end sSlider-action