// start .sCategory
.sCategory {

	.container {
		position: relative;
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.sCategory

.categoryItem {
	box-shadow: 0px 8px 24px rgba(40, 126, 255, 0.1);
	border-radius: $em-base;
	padding: rem(24) rem(23);
	margin-bottom: rem(24);

	li {
		list-style: none;
	}
	&__subcategories {

	}

	&__more {
		text-transform: uppercase;
		color: $red;
	}

	img {
		max-height: rem(224);
	}

}

.subcategories-hidden {

	.categoryItem__subcategories {
		display: none;
	}
	// @include media-breakpoint-only(lg) {
	// 	display: block;
	// }
}