mixin categoryItem(long,mixed,title,img,...items)
	+b.categoryItem&attributes(attributes)
		if long
			.row
				.col-sm-auto
					+e.title.h4(href="#")= title
				.col
					+e.DIV.subcategories
						ul
							each item in items
								li: a(href="#")= item
						+e.more(href="#") MORE
				.col-sm-auto
					img.res-i.lazy(src="#" data-src=`img/@2x/category-${img}.jpg`, alt="")
		else if mixed
			.row
				.col
					+e.title.h4(href="#")= title
					+e.DIV.subcategories
						ul
							each item in items
								li: a(href="#")= item
						+e.more(href="#") MORE
				+e.col.col-auto
					img.res-i(src=`img/@2x/category-${img}.jpg`, alt="")
		else
			+e.itemWrap
				+e.title.h4(href="#")= title
					if items
						+e.DIV.subcategories
							ul
								each item in items
									li: a(href="#")= item
							+e.more(href="#") MORE
				img.res-i(src=`img/@2x/category-${img}.jpg`, alt="")


mixin sCategory()
	// start sCategory
	+b.SECTION.sCategory.section#sCategory&attributes(attributes)
		.container
			+section-title-vertical('Popular categories')
		
	// end sCategory