// start .sProdCard
.sProdCard {
	position: relative;
	margin-top: -9px;//del afterwards


	&__row{
		@include roww(24px);
		position: relative;
	}

	//slider col
	&__slider-col{
		position: static;
	}
	//tabs
	&__tabs-cont{

	}
	//slider
	&__tabs-slider{
		.swiper-container{}
		.swiper-wrapper{}
		.swiper-slide{
			width: auto;
			height: auto;

			white-space: nowrap;
			font-weight: bold;
			line-height: (24/14);
			letter-spacing: 0.1em;

			font-size: rem(12px);
			padding: rem(25) 0;
			@include media-breakpoint-up(sm){
				font-size: rem(14);
				padding: rem(44) 0;
			}
			//

			@include mt();

			color: $primary;
			&.active{
				color: $black;
			}
			&:hover{
				color: rgba($primary, .5);
			}
		}
	}
	//tabs-content
	&__tabs-content{
		padding-bottom: rem(42);
	}
	&__tabs-conent-item{
		ul{
			padding: 0;
			margin: 0;
			list-style: none;

			li{
				font-size: rem(16px);
				line-height: 1.75;
				&:before{
					content: '•  ';
					display: inline-block;
					vertical-align: top;
					padding-right: 3px;
				}
			}
		}
	}
	&__txt-block{
		p{
			font-size: rem(16px);
			line-height: 1.75;
			margin-bottom: 0;
		}
		p:last-child{
			padding-bottom: rem(26);
		}
	}

	//overview-bl
	&__overview-bl{
		padding-bottom: rem(52px);
	}
	&__overview-headline{
		@extend .h4;
		font-weight: bold;
		line-height: 1.2;
		margin-bottom: rem(24);
	}
	&__overview-link{
		display: block;
		position: relative;
		padding-top: 71.34%;
	}
	&__overview-img{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		border-radius: rem(16);
		box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: rem(16);
		}
	}

	&__play-btn-cont{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		border-radius: rem(16);

		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__play-btn{
		position: relative;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		border: 1px solid $primary;

		&:after{
			content: '';
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateX(-35%) translateY(-50%);

			width: 0;
			height: 0;
			border-style: solid;
			border-width: 20px 0 20px 35px;
			border-color: transparent transparent transparent $primary;
		}
	}
	&__{}

	//nav-col
	&__nav-col{

		@include media-breakpoint-up(lg){
			position: absolute;
			background-color: rgba($white, .5);
			z-index: 10;
			right: 0;
			top: 0;
			width: 33.33%;
			padding: 15px 0 0 15px;
		}
		@include media-breakpoint-up(xl){
			padding: 15px;
		}
		@include media-breakpoint-up(xxl){
			padding: rem(15px) rem(40) 0 rem(40);
		}
	}
	//top nav bar
	&__top-nav-bar{
		display: flex;
		align-items: center;
		justify-content: space-between;

		padding-bottom: rem(20);
	}
	&__br-links{
		display: flex;
		align-items: center;
		a{
			display: flex;
			align-items: center;

			line-height: (18/12);
			letter-spacing: 0.1em;
			text-transform: uppercase;
			color: $primary;
			font-size: rem(12px);

			&:after{
				content: '';
				width: rem(20px);
				border-bottom: 1px solid $primary;
				margin: 0 rem(4);
			}

			&:last-child:after{
				content: none;
			}
		}

	}
	&__like-share-cont{
		display: flex;
		align-items: center;
		a{
			width: rem(32);
			height: rem(32);
			margin-left: 4px;

			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;

			.icon{
				@include mt();
				font-size: 20px;
				color: transparent;
				stroke: $secondary;
			}

			&:hover{
				.icon{
					stroke: $primary;
				}
			}
		}
	}
	//brand-link
	&__brand-link{
		display: block;
		font-size: rem(14px);
		line-height: 1.71;
	}

	&__prod-name{
		font-weight: bold;

		margin-bottom: 14px;
		line-height: 1.32;
		@include media-breakpoint-up(md){
			margin-bottom: 14px;
			line-height: 1.42;
		}
		@include media-breakpoint-up(xl){
			line-height: 1.35;
		}
	}
	&__article-txt{
		position: relative;
		margin-top: -8px;

		line-height: 1.33;
		color: $secondary;
		font-size: rem(12px);

		padding-bottom: rem(17px);
		@include media-breakpoint-up(md){
			padding-bottom: rem(28px);
		}
		@include media-breakpoint-up(lg){
			padding-bottom: rem(17);
		}
		@include media-breakpoint-up(xl){
			padding-bottom: rem(26);
		}
	}
	&__old-price-strip{
		display: flex;
		align-items: center;

		@include media-breakpoint-up(xxl){
			padding-left: 5px;
		}
	}
	&__old-price-txt{
		line-height: 1.5;
		text-decoration-line: line-through;

		font-size: rem(16px);

		margin-right: rem(13);
		@include media-breakpoint-up(xl){
			margin-right: rem(23);
		}
	}
	&__discount{
		position: relative;
		padding: 0 rem(10);

		display: flex;
		align-items: center;

		font-weight: bold;
		font-size: rem(14px);
		color: $white;

		&:before{
			content: '';
			position: absolute;
			z-index: -1;
			left: 0;
			top: 0;
			background-color: $danger;
			width: 100%;
			height: 100%;
			transform: skewX(-30deg);
		}
	}
	//
	&__new-price-strip{
		display: flex;
		align-items: center;

		padding-bottom: 17px;
		@include media-breakpoint-up(sm){
			padding-bottom: 0;
		}
		justify-content: flex-start;
		@include media-breakpoint-up(lg){
			justify-content: space-between;
		}
	}
	&__new-price-txt{
		line-height: 1.33;
		color: $danger;
		font-size: rem(36px);

		margin-right: rem(42px);
		@include media-breakpoint-up(lg){
			margin-right: 0;
		}
	}
	//timer
	.timer-box{
		color: $primary;
		margin-bottom: 0;

		margin-left: auto;
		@include media-breakpoint-up(sm){
			margin-left: 0;
		}

		&__item{
			width: 37px;
		}

		&__icon-cont{
			padding: 0;
			display: flex;
			margin-right: 5px;
			.icon{
				margin: auto;
				color: $primary;
				font-size: rem(24);
			}
		}
	}

	&__chars-pills-strip{
		margin-bottom: rem(13px);
		@include media-breakpoint-up(xl){
			margin-bottom: rem(23px);
		}
		a{
			line-height: 1.35;
			color: $secondary;
			@include mt();
			&:hover{
				color: $primary;
			}

			&:after{
				content: '•';
				display: inline-flex;
				vertical-align: top;
				align-items: center;
				line-height: 2;
				padding: 0 5px;

			}
			&:last-child:after{
				content: none;
			}

			font-size: rem(12px);
		}
	}
	&__other-items{
		width: 100%;
		display: flex;
		align-items: center;
		flex-wrap: wrap;

		@include media-breakpoint-up(lg){
			padding-right: 10px;
		}
		@include media-breakpoint-up(xl){
			padding-bottom: 24px;
			padding-right: 10px;
		}
	}
	&__other-item{
		display: block;
		position: relative;
		margin-bottom: 20px;

		@include media-breakpoint-down(xs){
			margin-bottom: 17px;

			width: calc(25% - (24px * 3 / 4));//calc(20% - (16px * 4))
			height: 56px;

			margin-right: 24px;
			&:nth-child(4n){
				margin-right: 0;
			}
		}
		@include media-breakpoint-up(sm){
			width: 56px;
			height: 56px;
			margin-right: 16px;
		}
		@include media-breakpoint-up(lg){
			width: calc(25% - (24px * 3 / 4));//calc(20% - (16px * 4))
			height: 56px;

			margin-right: 24px;
			&:nth-child(4n){
				margin-right: 0;
			}
		}
		@include media-breakpoint-up(xl){
			width: calc(20% - (16px * 4 / 5));//calc(20% - (16px * 4))
			height: 56px;

			margin-right: 16px;
			&:nth-child(4n){
				margin-right: 16px;
			}
			&:nth-child(5n){
				margin-right: 0;
			}
		}

		border-radius: 8px;
		img{
			max-width: 100%;
			max-height: 100%;
			width: auto;
			height: auto;
			margin: auto;

			opacity: 0.5;
			//@include mt();
		}


		.discount{
			position: absolute;
			z-index: 2;
			left: 50%;
			top: 100%;
			transform: translateX(-50%) translateY(-50%);
			height: 16px;
			width: 40px;
			//padding: 0 rem(10);

			display: flex;
			align-items: center;
			text-align: center;
			justify-content: center;

			font-weight: bold;
			font-size: rem(10px);
			color: $white;

			&:before{
				content: '';
				position: absolute;
				z-index: -1;
				left: 0;
				top: 0;
				background-color: $danger;
				width: 100%;
				height: 100%;
				transform: skewX(-30deg);
			}
		}

	}
	&__other-item-content{
		display: flex;
		width: 100%;
		height: 100%;

		&:hover{
			img{
				opacity: 1;
			}
		}
	}
	//color-likns
	&__color-likns{
		display: flex;
		align-items: center;

		margin-bottom: rem(12px);
		@include media-breakpoint-up(xl){
			margin-bottom: rem(23px);
		}

		a{
			width: 24px;
			height: 24px;
			border-radius: 6px;
			position: relative;

			margin-right: 12px;
			&:last-child{
				margin-right: 0;
			}

			&:hover:before{
				opacity: 1;
			}

			&:before{
				position: absolute;
				content: '';
				left: -4px;
				top: -4px;
				width: 32px;
				height: 32px;
				border-radius: 8px;
				border: 1px solid currentColor;
				background-color: transparent;
				opacity: 0;
				@include mt();
			}
		}
	}
	//size-bar
	&__size-bar{

	}
	//top
	&__size-bar-top{
		display: flex;
		align-items: center;
	}
	//b size-type-select
	&__size-table-link{
		flex-shrink: 0;
		white-space: nowrap;
		line-height: 1.7;
		color: $primary;

		font-size: rem(14px);
	}
	//links
	&__size-bar-pills{
		display: flex;
		align-items: center;
		flex-wrap: wrap;

		padding-bottom: rem(26px);
		@include media-breakpoint-up(md){
			padding-bottom: rem(26px);
		}
		@include media-breakpoint-up(lg){
			padding-bottom: rem(17);
		}
		@include media-breakpoint-up(xl){
			padding-bottom: rem(20);
		}

		a{
			//measure
			position: relative;
			height: rem(32);
			width: auto;
			padding: 0 rem(8);
			border-radius: rem(8);

			margin-right: rem(10);
			margin-bottom: rem(12);
			&:last-child{
				margin-right: 0;
			}

			//color
			@include mt();
			color: $primary;
			background-color: $white;
			border: 1px solid $primary;
			&:hover{
				background-color: rgba($primary, .1);
			}

			//txt
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			text-decoration: none !important;

			font-size: rem(14px);
			line-height: 1.7;


			&.active{
				color: $white;
				background-color: $primary;
			}
			&.red-doted:after{
				content: '';
				position: absolute;
				right: 4px;
				top: 4px;
				width: rem(4);
				height: rem(4);
				border-radius: 50%;
				background-color: $danger;

			}
			&.disabled{

			}
		}
	}


	//policy
	&__policy-links{
		//
		padding-top: 21px;
		padding-bottom: 30px;
		@include media-breakpoint-up(sm){
			padding-top: 5px;
			padding-bottom: 0;
		}

		display: flex;
		align-items: center;
		justify-content: flex-start;
		@include media-breakpoint-up(lg){
			display: block;
		}
		@include media-breakpoint-up(xl){
			padding-top: 0;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
	&__policy-link{
		position: relative;
		display: flex;
		align-items: center;

		padding-bottom: 17px;
		@include media-breakpoint-up(xl){
			padding-bottom: 0;
		}

		span{
			font-size: rem(16px);
			line-height: 1.5;
			color: $primary;
		}

		&:after{
			content: '•';
			color: $black;
			line-height: 0;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			padding: 0 5px;
		}
		@include media-breakpoint-up(lg){
			&:after {
				content: none;
			}
		}
		&:last-child:after{
			content: none;
		}
	}
	&__policy-icon{
		height: rem(24px);

		margin-right: 9px;
		width: 35px;
		@include media-breakpoint-up(xl){
			margin-right: 9px;
			width: 35px;
		}

		display: flex;
		align-items: center;
		justify-content: flex-end;


		&.arrows{
			.icon{
				stroke: $danger;
				font-size: rem(20);
			}
		}
		&.car{
			.icon{
				color: $danger;
				font-size: rem(20);
			}
		}

	}


	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.sProdCard

.prod-card-slider{
	padding-bottom: 32px;
	@include media-breakpoint-up(sm){
		padding-bottom: rem(50);
	}
	@include media-breakpoint-up(lg){
		padding-bottom: rem(9);
	}

	//swiper default
	& > .swiper-container{
		padding-bottom: rem(20px);
		@include media-breakpoint-up(sm){
			padding-bottom: rem(25);
		}
		@include media-breakpoint-up(xxl){
			overflow: visible;
			padding-bottom: rem(31);
		}
	}
	.swiper-wrapper{}
	.prod-card-slide{
		opacity: 0.5;
		@include mt();

		&.swiper-slide-active{
			opacity: 1;
			@include media-breakpoint-up(xxl){
				width: 1270px;
			}
		}
	}

	//
	&__slide-link{
		display: block;
		position: relative;
		width: 100%;
		padding-top: 71.43%;

		@include media-breakpoint-up(xxl){
			width: 840px;
			height: 600px;
			padding: 0;
		}
	}
	&__img-cont{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		display: flex;

		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
			margin: auto;
		}
	}

	//thumb slider
	&__thumb{
		//swiper default
		.swiper-container{}
		.swiper-wrapper{}
		.swiper-slide{
			width: rem(84px);
			height: rem(64px);
			cursor: pointer;
			opacity: .5;
			@include mt();



			&:hover{
				opacity: 1;
			}
		}
	}
	&__thumb-img{
		width: 100%;
		height: 100%;
		display: flex;
		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
			margin: auto;
		}
	}

}

.size-type-select, .size-select{
	flex-grow: 1;
	.select2-container{
		width: 100% !important;
		height: 45px;
		background-color: transparent;
	}
	.select2-selection{
		height: 100%;
		border-radius: 8px;
		border: 1px solid transparent; //$select-border-color
		background-color: transparent;

		display: flex;
		align-items: center;
		justify-content: flex-start;
	}
	.select2-selection__rendered{
		height: 100%;
		line-height: 50px !important;
		padding: 0 !important;
		font-size: 14px !important;
		font-weight: normal !important;

		letter-spacing: 0.15em;
		color: $primary !important;
	}
	.select2-selection__placeholder{
		font-size: 14px;
		display: block;
		color: $primary !important;
	}
	.select2-selection__arrow{
		background-color: transparent;
		position: relative !important;

		top: unset !important;
		bottom: unset !important;
		left: unset !important;
		right: unset !important;

		height: 100% !important;
		width: 30px !important;
		b{
			display: none;
		}
		@include mt();
		&:before, &:after{
			content: '';
			display: block;
			position: absolute;
			width: 8px;
			height: 1px;
			border-radius: 1px;
			background-color: $primary;
		}
		&:before{
			top: calc(50% + 1px);
			left: calc(50% - 8px);
			transform: rotate(45deg);
		}
		&:after{
			top: calc(50% + 1px);
			left: calc(50% - 3.25px);
			transform: rotate(-45deg);
			//background-color: red;
		}
	}
	.select2-container--open{
		.select2-selection__arrow{
			padding-top: 0px;
			transform: rotate(180deg);
			//padding-bottom: 5px;
		}
	}
}

//
.drop-down-full-blue,
.drop-down-margined {
	border: 1px solid $primary !important;
	border-radius: 8px !important;

	position: relative;
	left: -20px;
	.select2-results__options{
		padding: 8px 0;
		li{
			display: block;
			height: 24px;
			line-height: 24px;
			margin-bottom: rem(8);

			padding: 0 rem(10);
			@include media-breakpoint-up(sm){
				padding: 0 rem(18);
			}

			font-style: normal;
			font-size: 14px;
			color: $primary;
		}
	}
	.select2-results__option--highlighted[aria-selected]{
		background-color: transparent;
		color: $body-color;
	}

	.select2-results__option[aria-selected=true]{
		background-color: $primary;
		color: $white;
	}
}
//
.drop-down-margined{
	margin-top: rem(20);
}

//
.size-select{
	padding-bottom: 16px;
	@include media-breakpoint-up(sm){
		padding-bottom: rem(30);
	}
	@include media-breakpoint-up(xl){
		padding-bottom: rem(32);
	}
	.select2-container{
		border: 1px solid $primary !important;
		border-radius: rem(8);
		height: 47px;
	}

	.select2-selection__rendered{
		height: 45px !important;
		line-height: 45px !important;
		padding-left: rem(18) !important;
		font-size: rem(12);
	}
	.select2-selection__arrow{
		margin-left: auto;
		margin-right: 12px;
	}
}
//toggle pills box
.toggle-pills-box{

	&__item-cont{

	}
	//1st
	&__header{
		cursor: pointer;
		margin-bottom: rem(16);
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: rem(14px) rem(20px) rem(14px) rem(24px);

		@include mt();
		background-color: $white;
		box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
		border-radius: rem(16px);

		//
		span{
			font-weight: bold;
			font-size: rem(16px);
			line-height: 1.75;
			color: $primary;
			@include mt();
		}
		.icon{
			font-size: 14px;
			color: transparent;
			stroke: $primary;
			@include mt();
		}

		//
		&.active{
			box-shadow: 0px 8px 16px rgba(40, 126, 255, 0.25);
			background-color: $primary;

			span{
				color: $white;
			}
			.icon{
				stroke: $white;
			}
		}

		&:hover{
			background-color: darken($primary, 10);
			span{
				color: $white !important;
			}
			.icon{
				stroke: $white !important;
			}
		}
	}

	//content
	&__content{
		display: none;
		padding-bottom: rem(32);

		padding-top: rem(8);
		@include media-breakpoint-up(sm){
			padding-top: rem(19);
		}
		@include media-breakpoint-up(xl){
			padding-top: rem(16);
		}

		&.active{
			display: block;
		}
	}


	&__add-strip{
		padding-bottom: rem(16);
		.form-wrap{
			form{

				@include media-breakpoint-up(xl){
					display: flex;
					align-items: center;
					justify-content: space-between;
				}
			}

			&__add-inp-box{
				display: flex;
				align-items: center;

				//35px
				padding-bottom: rem(35);
				@include media-breakpoint-up(sm){
					padding-bottom: rem(16);
				}

				width: 100%;
				justify-content: center;
				@include media-breakpoint-up(xl){
					width: auto;
					justify-content: flex-start;
					padding-bottom: 0;
				}
			}
			//+/-
			&__add-control-btn{
				cursor: pointer;
				user-select: none;
				width: rem(40px);
				height: rem(40px);
				border-radius: 50%;
				text-align: center;
				line-height: rem(40px);

				border: 1px solid $primary;
				background-color: transparent;
				@include mt();

				font-size: rem(14px);
				color: $primary;

				&.minus-btn{
					margin-right: rem(8);
				}
				&.plus-btn{
					margin-left: rem(8);
				}

				&:hover{
					background-color: rgba($primary, .1);
				}
			}
			//inp
			&__input-wrap{
				margin-bottom: 0;
				@include media-breakpoint-down(md){
					//background-color: red;
					flex-grow: 1;
				}
			}
			&__input{
				text-align: center;
				width: 100%;
				@include media-breakpoint-up(lg){
					width: 52px;
				}
			}
			//btn
			&__add-btn{
				@extend .btn;
				@extend .btn-success;
				@extend .btn-success-frame;

				margin-left: rem(0);
				@include media-breakpoint-up(lg){
					margin-left: rem(16);
				}
				@include media-breakpoint-down(lg){
					height: 56px;
				}
			}
		}
	}

	//
	&__caution-box{

		padding-bottom: rem(24px);
		@include media-breakpoint-up(sm){
			padding-bottom: rem(36);
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
		}
		@include media-breakpoint-up(lg){
			display: block;
		}
	}
	&__caution{
		position: relative;
		display: flex;
		align-items: center;

		font-size: rem(12px);
		line-height: 1.35;

		&:before{
			content: '';
			width: 24px;
			height: 24px;
			display: inline-block;
			margin-right: rem(4);

			background-size: cover;
		}
		&.danger:before{
			background-image: url(../img/danger-tiangle.png);
		}
		&.warning:before{
			background-image: url(../img/warning-circle.png);
		}

		&:after{
			content: none;
			line-height: 0;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			padding: 0 5px;
		}

		@include media-breakpoint-up(lg){
			&:after {
				content: none;
			}
		}
		@include media-breakpoint-up(sm) {
			&:after {
				content: '•';
			}
		}
		&:last-child:after{
			content: none;
		}
	}
	&__get-video-call{
		position: relative;
		width: 100%;
		padding-top: 58.5%;

		@include media-breakpoint-up(sm){
			height: 232px;
			width: 352px;
			padding-top: 0;
			margin: 0 auto;
		}

		@include media-breakpoint-up(lg){
			height: 0;
			width: 100%;
			padding-top: 65.9%;
			margin: auto;
		}
	}
	&__get-video-content{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: $black;
		border-radius: rem(16);

		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;

		.icon{
			font-size: rem(16);
			color: $danger;
			margin-right: rem(8);
		}
		span{
			font-size: rem(14px);
			line-height: 1.7;
			color: $white;
		}
	}

	//2nd, 3rd
	&__solid-item-cont{
		background: $white;
		box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
		border-radius: rem(16px);
		margin-bottom: rem(16);
		@include mt();

		&:hover{
			background-color: rgba($primary, .03);
		}
	}
	&__solid-header{
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: rem(14px) rem(20px) rem(14px) rem(24px);

		@include mt();

		//
		span{
			font-weight: bold;
			font-size: rem(16px);
			line-height: 1.75;
			color: $primary;
			@include mt();
		}
		.icon{
			font-size: 14px;
			color: transparent;
			stroke: $primary;
			@include mt();
		}

		&.active{
			span{
				color: $body-color;
			}
		}

	}
	&__solid-content{
		display: none;
		&.active{
			display: block;
		}

		padding: rem(10) rem(20) rem(10) rem(24);
	}
	&__solid-subitem{
		display: flex;
		align-items: center;
		justify-content: space-between;

		padding-bottom: rem(24px);
	}
	&__solid-info{
		width: 170px;
	}
	&__solid-shop{
		font-size: rem(16px);
		line-height: 1.5;
	}
	&__solid-address{
		line-height: 1.35;
		color: rgba($black, 0.5);

		font-size: rem(12px);
	}
	&__solid-status{
		font-size: rem(16px);
		line-height: 1.5;
		text-align: right;
	}
	&__{}
	&__{}
}

//top line
.prod-card-page{
	.topLine{
		.soc__item{
			color: $primary !important;
		}
		&__link{
			color: $primary !important;
		}

	}
}

//
.bottom-fixed-strip{
	background-color: $primary;
	color: $white;
	padding: rem(15px);
	@include media-breakpoint-up(sm){
		padding: rem(12px) rem(24px);
	}

	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	z-index: 10000;

	@include mt();

	transform: translateY(110%);
	&.active{
		transform: translateY(0);
	}

	display: flex;
	align-items: center;

	flex-wrap: wrap;
	@include media-breakpoint-up(md){
		flex-wrap: nowrap;
	}

	&__img-cont{
		border-radius: rem(8);
		background-color: $white;
		width: 48px;
		height: 40px;

		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;

		img{
			max-height: 100%;
			max-width: 100%;
			margin: auto;
		}
	}
	//
	&__price-bl{
		margin-left: 12px;

		align-items: stretch;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__discount{
		position: relative;
		padding: 0 rem(10);
		margin-bottom: 5px;

		width: 56px;
		height: 18px;
		display: flex;
		align-items: center;
		text-align: center;

		font-weight: bold;
		font-size: rem(14px);
		color: $white;

		&:before{
			content: '';
			position: absolute;
			z-index: -1;
			left: 0;
			top: 0;
			background-color: $danger;
			width: 100%;
			height: 100%;
			transform: skewX(-20deg);
		}
	}
	&__price{
		display: flex;
		align-items: flex-end;
		//new p
		span:first-child{
			font-size: rem(18px);
			line-height: 1.35;
			margin-right: 12px;
		}
		//old p
		span:last-child{
			font-size: rem(14px);
			line-height: 1.7;
			text-decoration-line: line-through;

			color: rgba(255, 255, 255, 0.5);
		}
	}
	//
	.form-wrap{
		width: 100%;
		order: 1;
		margin-top: 12px;
		@include media-breakpoint-up(md){
			width: auto;
			order: 0;
			margin: 0 auto;
		}


		form{
			display: flex;
			align-items: center;
			//justify-content: space-between;
		}

		&__add-inp-box{
			display: flex;
			align-items: center;

			margin-right: 12px;
			justify-content: center;
			@include media-breakpoint-up(xl){
				width: auto;
				justify-content: flex-start;
				padding-bottom: 0;
			}
		}
		//+/-
		&__add-control-btn-fixed{
			cursor: pointer;
			user-select: none;
			width: rem(40px);
			height: rem(40px);
			border-radius: 50%;
			text-align: center;
			line-height: rem(40px);

			border: none;
			background-color: $white;
			@include mt();

			font-size: rem(14px);
			color: $primary;

			&.minus-btn{
				margin-right: rem(8);
			}
			&.plus-btn{
				margin-left: rem(8);
			}

			&:hover{
				background-color: rgba($white, .9);
			}
		}
		//inp
		&__input-wrap{
			margin-bottom: 0;
		}
		&__input{
			text-align: center;
			width: 52px;
		}
		//btn
		&__add-btn{
			@extend .btn;
			@extend .btn-success;
			@extend .btn-success-frame;

			flex-grow: 1;
			@include media-breakpoint-up(sm){
				//flex-grow: 0;
			}

			@include media-breakpoint-up(sm){
				min-width: 192px;
			}
			@include media-breakpoint-down(lg){
				height: 40px;
			}
		}
	}

	&__icons-bl{
		display: flex;
		align-items: center;

		margin-left: auto;
		@include media-breakpoint-up(md){
			margin-left: 0;
		}

		a{
			position: relative;
			width: rem(28px);
			height: rem(28px);

			margin-left: rem(12px);
			@include media-breakpoint-up(sm){
				margin-left: rem(24px);
			}
			&:first-child{
				margin-left: 12px;
			}

			display: flex;
			align-items: center;
			justify-content: center;

			img{
				width: 24px;
				height: 24px;
			}

			&:after{
				content: '';
				position: absolute;
				bottom: 0;
				right: 0;
				width: rem(8);
				height: rem(8);
				border-radius: 50%;
				background-color: $danger;
			}
		}


	}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
}