mixin headerBlock()
	// start headerBlock
	+b.headerBlock#headerBlock&attributes(attributes)
		.container
			.section-title-vertical.d-none.d-xl-block
				h2  Special offer
			+e.slider-lg--js.swiper-container.gallery-top
				.swiper-wrapper
					- for (var x = 1; x < 5; x++)
						+e.slide-lg.swiper-slide
							.row
								.col-md
									+e.img-wrap.bg-wrap
										img.img-bg.object-fit-js(src=`img/@2x/head-slide-${x}.jpg`, alt="")
										+e.icons-group
											+e.btn-icon: +icon("heart")
											+e.btn-icon: +icon("stat")
											+e.btn-icon: +icon("share")
										+e.play(href="https://www.youtube.com/watch?v=2pOafFHlvPE" data-fancybox="video-slide")
								.col-md-4.order-md-first
									+e.caption
										+e.label  #[a(href="#").text-white New] &mdash;  #[a(href="#").text-white actions]
										+e.title Nike Sportswear  Icon Clash
										+e.stock-wrap
											+e.stock 
												span - 20%
										+e.price
											+e.price-new 89 €
											+e.price-old 189 €
										+b.timer-box.timer-box-js
											+icon("sand-clock")
											+e.item
												.days 2
												+e.small day
											+e.item
												.hours  17
												+e.small hr
											+e.item
												.minutes 35
												+e.small min
											+e.item
												.seconds 17
												+e.small sec

										+e.btn(href="#") Get it now!

			+e.slider-sm-wrap.d-none.d-md-block
				+e.slider-sm--js.swiper-container.gallery-thumbs
					.swiper-wrapper
						- for (var x = 1; x < 5; x++)
							+e.slide-sm.swiper-slide
								+e.img-wrap-sm.bg-wrap
									img.img-bg.object-fit-js(src=`img/@1x/head-slide-${x}.jpg`, alt="")
								+e.title-sm Nike Sportswear Icon Clash

	// end headerBlock 