extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug 
include ../blocks/sSportCategory/_sSportCategory.pug 
include ../blocks/sSlider-action/_sSlider-action.pug 
include ../blocks/sBlog/_sBlog.pug 
include ../blocks/sWeAreDifferent/_sWeAreDifferent.pug 
include ../blocks/sLogos/_sLogos.pug 
include ../blocks/sCategories/_sCategories.pug 
include ../blocks/sSeasons/_sSeasons.pug 
include ../blocks/sCatalog/_sCatalog.pug

include ../blocks/sProdCard/_sProdCard.pug
include ../blocks/sRelatedProducts/_sRelatedProducts.pug
include ../blocks/sShoppingCart/_sShoppingCart.pug
include ../blocks/sAccountMenu/_sAccountMenu.pug
include ../blocks/sAccount/_sAccount.pug
include ../blocks/sOurStores/_sOurStores.pug

block variables
	- let  mainPage= 'prod-card-page'
block title
	- let  title= '012-our-stores'
	title= title
block pagecontent 
	//- +mob-mnu()
	header.header
		+topLine()
		+top-nav()
	+sOurStores()
		+breadcrumb('Main','Catalog','Asics sportwear icon clash')
	+footer()
	