mixin sWeAreDifferent()
	// start sWeAreDifferent
	+b.SECTION.sWeAreDifferent.section#sWeAreDifferent&attributes(attributes)
		+e.imgWrap
			img.lazy(data-src="img/@2x/we-are-bg.jpg", alt="")
		.container
			+b.section-title
				+icon('logo')
				h2 We are different!
			p You might think that Sport-Marathon is&nbsp;just another sports and tourist shop in&nbsp;Moscow, and you will be wrong. We&nbsp;really sell clothes and equipment for skiing and snowboarding, as&nbsp;well as&nbsp;tents, sleeping bags, backpacks and other goods for outdoor activities. But this is&nbsp;where our similarities with other stores end.
			+e.btn.btn.btn-outline-light(href="#") read #[.d-none.d-sm-inline about us] #[.d-inline.d-sm-none all]
	// end sWeAreDifferent