mixin catalogItem(img,newPrice,oldPrice,category,text,wide, slideComponent=false)
	+b.catalogItem&attributes(attributes)
		.row.justify-content-between
			.col-auto
				+e.hit(href="#") hit
			.col-auto
				+controls()
		+e.imgWrap(href="#")
			if slideComponent
				img.res-i.swiper-lazy(src="" data-src=`img/@2x/catalog-${img}.jpg`, alt="")
			else
				img.res-i.lazy(src="" data-src=`img/@2x/catalog-${img}.jpg`, alt="")
		+e.sale -20%
		+e.price
			+e.newPrice= newPrice
			+e.oldPrice= oldPrice
		+e.category(href="#")= category
		+e.names(href="#")= text
		+e.hiddenBlock
			+e.size Size: 45
			+e.radioWrap
				+custom-radio('44','size')
				+custom-radio('44','size')
				+custom-radio('45','size')
				+custom-radio('45','size')(class='custom-radio--incative')
			if wide
				.row
					.col-auto
						+e.get(href="#") Get it now!
					.col
						+e.lastItem 
							img(src="img/@2x/danger.png", alt="")
							| Last item in stock
						+e.options 
							img(src="img/@2x/warning.png", alt="")
							| Product available with different options
			else
				+e.get(href="#") Get it now!
				+e.lastItem 
					img(src="img/@2x/danger.png", alt="")
					| Last item in stock
				+e.options 
					img(src="img/@2x/warning.png", alt="")
					| Product available with different options

mixin catalogItem-blue(img,newPrice,oldPrice,category,text,wide)
	+b.catalogItem--blue&attributes(attributes)
		+e.content
			+e.imgWrap.picture-bg(href="#")
				img.res-i.lazy(src="" data-src=`img/@2x/catalog-${img}.jpg`, alt="")
			.row.justify-content-between
				.col-auto
					+e.hit(href="#") hit
				.col-auto
					+controls()
			+e.sale -20%
			+e.price
				+e.newPrice= newPrice
				+e.oldPrice= oldPrice
			+e.category(href="#")= category
			if wide
				.row.justify-content-between
					.col-auto
						+e.names(href="#")= text
					.col-auto
						+b.timer-box.timer-box-js
							+icon('sand-clock')
							+e.item
								.days 2
								+e.small day
							+e.item
								.hours  17
								+e.small hr
							+e.item
								.minutes 35
								+e.small min
							+e.item
								.seconds 17
								+e.small sec
			else
				+e.names(href="#")= text
				+b.timer-box.timer-box-js
					+icon('sand-clock')
					+e.item
						.days 2
						+e.small day
					+e.item
						.hours  17
						+e.small hr
					+e.item
						.minutes 35
						+e.small min
					+e.item
						.seconds 17
						+e.small sec
		+e.hiddenBlock
			+e.size Size: 45
			+e.radioWrap
				+custom-radio('44','size')
				+custom-radio('44','size')
				+custom-radio('45','size')
				+custom-radio('45','size')
			if wide
				.row
					.col-auto
						+e.get(href="#") Get it now!
					.col
						+e.lastItem 
							img(src="img/@2x/danger.png", alt="")
							| Last item in stock
						+e.options 
							img(src="img/@2x/warning.png", alt="")
							| Product available with different options
			else
				+e.get(href="#") Get it now!
				+e.lastItem 
					img(src="img/@2x/danger.png", alt="")
					| Last item in stock
				+e.options 
					img(src="img/@2x/warning.png", alt="")
					| Product available with different options


mixin sCatalog()
	// start sCatalog
	+b.SECTION.sCatalog.section#sCatalog&attributes(attributes)
		.container
			+section-title-vertical('Best offers')
			.row
				.col-lg-8.col-xl-6.d-none.d-md-block
					+catalogItem('1','89 €','189 €','Asics','Man`s running shoes ASICS GEL-Nimbus 22 White/Electric Blue','wide')
				.col-md-6.col-lg-4.col-xl-3
					+catalogItem('2','89 €','189 €','Grunge John Orchestra','Man`s bomber Grunge John Orchestra Toxic Olive')
				.col-md-6.col-lg-4.col-xl-3
					+catalogItem('3','89 €','189 €','Grunge John Orchestra','Man`s bomber Grunge John Orchestra Toxic Olive')
				.col-md-6.col-lg-4.col-xl-3.d-none.d-lg-block
					+catalogItem('4','89 €','189 €','Garmont','Man`s running shoes ASICS GEL-Nimbus 22 White/Electric Blue')
				.col-md-6.col-lg-4.col-xl-3.d-none.d-lg-block
					+catalogItem('5','89 €','189 €','The North Face','Man`s bomber Grunge John Orchestra Toxic Olive')
				.col-lg-8.col-xl-6.d-none.d-md-block
					+catalogItem-blue('6','89 €','189 €','Asics','Woman`s  jacket BRIGANDINE FUTURELIGHT PAPAYA ORANGE FUSE','wide')
				.col-md-6.col-lg-4.col-xl-3.d-md-none.d-lg-block
					+catalogItem-blue('7','89 €','189 €','Osprey','Man`s bomber Grunge John Orchestra Toxic Olive')
				.col-md-6.col-lg-4.col-xl-3.d-none.d-lg-block
					+catalogItem('8','89 €','189 €','Garmont','Man`s running shoes ASICS GEL-Nimbus 22 White/Electric Blue')
				.col-md-6.col-lg-4.col-xl-3.d-none.d-lg-block
					+catalogItem('9','89 €','189 €','The North Face','Man`s bomber Grunge John Orchestra Toxic Olive')
				.col-md-6.col-lg-4.col-xl-3.d-none.d-lg-block
					+catalogItem('10','89 €','189 €','The North Face','Man`s bomber Grunge John Orchestra Toxic Olive')
			+e.btn(href="#") see more
	// end sCatalog