mixin topLine()
	// start topLine
	+b.topLine.d-none.d-md-block&attributes(attributes)
		.container
			.row
				.col
					+soc()
				.col-auto
					ul
						li: +e.link(href="#") Shipping and Delivery
						li: +e.link(href="#") Contact us 
						li: +e.link(href="#") Help
				.col-auto
					+e.link(href="#")
						+icon('mark')
						| Russia

	// end topLine