// start .sShoppingCart
.sShoppingCart {

	--sPT: #{0px};
	--sPB: #{25px};
	@include media-breakpoint-up(md){
		--sPT: #{3px};
		--sPB: #{70px};
	}
	@include media-breakpoint-up(lg){
		--sPT: #{21px};
		--sPB: #{70px};
	}
	@include media-breakpoint-up(xl){
		--sPT: #{35px};
		--sPB: #{134px};
	}


	&__row{
		@include roww(24px);
	}
	.top-line{
		@include media-breakpoint-up(xl){
			max-width: 74.5%;
		}

		padding: 0 13px 25px 19px;
		@include media-breakpoint-up(md){
			padding: 0 17px 27px 25px;
		}
		@include media-breakpoint-up(lg){
			padding: 0 20px 30px 28px;
		}
		@include media-breakpoint-up(xl){
			padding: 0 20px 12px 28px;
		}
	}
	//items
	&__items{
		@include media-breakpoint-up(sm){
			padding-bottom: 25px;
		}
		@include media-breakpoint-up(xl){
			padding-bottom: 0;
		}
	}
	&__item{
		position: relative;
		background-color: $white;

		@include mt();
		box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
		&:hover{
			box-shadow: 0px 8px 24px rgba(40, 126, 255, 0.15);
		}

		border-radius: 16px;

		padding: 16px 16px 16px 16px;
		margin-bottom: 30px;
		@include media-breakpoint-up(sm){
			padding: 24px;
			margin-bottom: 24px;
		}

		@include media-breakpoint-up(md){
			display: flex;
		}


	}
	&__close-item-btn{
		position: absolute;
		top: 12px;
		right: 12px;
		width: 32px;
		height: 32px;

		display: flex;
		align-items: center;
		justify-content: center;

		.icon{
			font-size: 16px;
			color: $primary;
			stroke: $primary;
			@include mt();
		}

		&:hover{
			.icon{
				stroke: $danger;
			}
		}

	}
	//1  bl


	//2
	&__input-and-price{

		padding-top: 20px;
		@include media-breakpoint-up(lg){
			display: flex;
			padding-top: 0;
		}
	}
	.add-inp-box{
		margin-bottom: 19px;
		@include media-breakpoint-up(md){
			margin-bottom: 33px;
		}
		@include media-breakpoint-up(lg){
			margin-right: 45px;
			margin-bottom: 0;
		}
	}
	&__price-block{
		align-self: center;
		max-width: 300px;
		@include media-breakpoint-up(lg){
			padding-top: 7px;
			max-width: 200px;
		}
	}

	//common
	&__common-price{
		font-size: 18px;
		line-height: (32/18);
		color: $black;

	}

	//disc
	.discount-price-bl{
		//margin-bottom: 10px;
	}

	//timer
	.timer-box{
		color: $primary;
		margin-bottom: 0;

		margin-left: auto;
		margin-bottom: 19px;
		@include media-breakpoint-up(sm){
			margin-left: 0;
			margin-bottom: 0;
		}

		&__item{
			width: 37px;
		}

		&__icon-cont{
			padding: 0;
			display: flex;
			margin-right: 5px;
			.icon{
				margin: auto;
				color: $primary;
				font-size: rem(24);
			}
		}
	}
	//chars-pills-strip
	.chars-pills-strip{

		margin-bottom: 17px;
		@include media-breakpoint-up(md){
			margin-bottom: 35px;
		}
		@include media-breakpoint-up(lg){
			margin-bottom: 5px;
		}
		a{
			height: 14px;
		}
	}


	//right col
	//right col

	//policy-links

	.policy-links{
		padding-left: 20px;
		@include media-breakpoint-up(xl){
			display: block;
		}
		&__link{
			margin-bottom: 8px;
		}
		&__icon{

		}
	}
	&__{}
	&__{}
	&__{}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.sShoppingCart

.add-inp-box{
	display: flex;
	align-items: center;

	width: auto;

	//+/-
	&__add-control-btn{
		cursor: pointer;
		user-select: none;
		width: rem(40px);
		height: rem(40px);
		border-radius: 50%;
		text-align: center;
		line-height: rem(40px);

		border: 1px solid $primary;
		background-color: transparent;
		@include mt();

		font-size: rem(14px);
		color: $primary;

		&.minus-btn{
			margin-right: rem(8);
		}
		&.plus-btn{
			margin-left: rem(8);
		}

		&:hover{
			background-color: rgba($primary, .1);
		}
	}

	//
	&__input-wrap{
		margin-bottom: 0;
	}
	&__input{
		text-align: center;
		width: 52px;
	}
}

//.discount-price
.discount-price-bl{
	&__percents{
		width: 56px;
		position: relative;
		z-index: 1;
		padding: 0 rem(10);

		display: flex;
		align-items: center;

		font-weight: bold;
		font-size: rem(14px);
		color: $white;

		&:before{
			content: '';
			position: absolute;
			z-index: -1;
			left: 0;
			top: 0;
			background-color: $danger;
			width: 100%;
			height: 100%;
			transform: skewX(-30deg);
		}
	}
	//
	&__price{
		display: flex;
		align-items: center;
	}
	&__new-price{
		font-size: 18px;
		line-height: 1.4;
		color: $danger;
		margin-right: 16px;
	}
	&__old-price{
		font-size: 14px;
		text-decoration-line: line-through;
		color: $black;
	}
}


//data-table
.data-table{
	position: relative;
	z-index: 1;
	overflow: hidden;
	box-shadow: 0px 8px 24px rgba(40, 126, 255, 0.15);
	border-radius: 16px;
	background-color: $primary;


	margin-bottom: 30px;


	padding: 28px 25px 30px 25px;
	@include media-breakpoint-up(md){
		padding: 26px 31px 30px 31px;
	}
	@include media-breakpoint-up(xl){
		padding: 24px 24px 30px 24px;
	}

	//
	&__img-bg{
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		img{
			width: auto;
			height: auto;
			object-fit: contain;
			transform: translateY(3%) translateX(-42%);
			opacity: .5;
		}
	}
	.form-wrap{
		&__top-items{
			padding-bottom: 13px;
		}
		&__item{
			display: flex;
			align-items: center;
			justify-content: space-between;

			span{
				line-height: 2;
				color: $white;
			}
			span:first-child{
				width: 60%;
			}
			span:last-child{

			}
		}
		&__lower-items{
			@include media-breakpoint-up(md){
				max-width: 252px;
				margin-left: auto;
			}
			@include media-breakpoint-up(xl){
				max-width: 100%;
				margin-left: 0;
			}
		}

		&__input-wrap{
			position: relative;
			margin-bottom: 22px;
		}
		&__input{
			margin: 0;
			border-radius: $border-radius;
			line-height: 1.75;

			padding: 13px 40px 13px 24px;
			height: auto;
		}
		&__promo-circle{
			width: 40px;
			height: 40px;
			border-radius: 50%;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 5px;

			display: flex;
			align-items: center;
			justify-content: center;

			@include mt();
			background-color: $success;
			&:hover{
				background-color: darken($success, 10);
			}

			&.muted{
				background-color: $secondary;
			}
			.icon{
				font-size: 10px;
				color: transparent;
				stroke: $white;
				stroke-width: 2 !important;
			}
		}


		//total item
		&__item.total-item{
			text-transform: uppercase;
			font-size: 24px;

			margin-bottom: 23px;
			@include media-breakpoint-up(xl){
				margin-bottom: 8px;
			}

			span:first-child{
				letter-spacing: 1.8px;
			}
		}
		&__checkout-btn{
			@extend .btn;
			@extend .btn-success;

			width: 100%;

			text-transform: uppercase;
			font-weight: 500;
			font-size: 16px;
			line-height: 2;
			padding: 8px 15px;
			color: $white;
			//letter-spacing: 1.5px;
		}
		//
		&__{}
		&__{}
		&__{}
		&__{}
	}

	&__{}
	&__{}
	&__{}
}

//
.top-line{
	display: flex;
	align-items: center;
	justify-content: space-between;

	h2{
		font-weight: bold;

		font-size: 24px;
		@include media-breakpoint-up(md){
			font-size: 36px;
		}
		margin-bottom: 0;
		@include media-breakpoint-up(xl){
			margin-bottom: 15px;
		}
	}

	//
	&__delete-all{
		//margin-top: 8px;

		display: flex;
		align-items: center;
		text-decoration: none !important;

		&:hover{
			.icon{
				stroke: rgba($primary, .5);
			}
		}

		.icon{
			@include mt();
			color: transparent;
			stroke: $primary;
			font-size: 32px;
			@include media-breakpoint-up(sm){
				margin-right: 4px;
			}
		}
		span{
			font-size: 12px;
			line-height: (16/12);
		}
	}
}

//
.img-and-descr-frame{
	@include media-breakpoint-up(lg){
		display: flex;
	}

	margin-right: 92px;
	@include media-breakpoint-up(lg){
		margin-right: 42px;
	}

	//img
	&__item-img{
		flex-shrink: 0;
		width: 80px;
		height: 80px;
		display: flex;
		align-items: center;
		justify-content: center;

		margin-bottom: 15px;
		@include media-breakpoint-up(md){
			margin-bottom: 13px;
		}
		@include media-breakpoint-up(lg){
			margin-right: 28px;
			margin-bottom: 0;
		}
		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	//
	&__item-desr{
		width: 280px;
	}
	&__short-name{
		font-size: 14px;
		line-height: 1.75;
		color: $secondary;
	}
	&__long-name{
		display: block;
		text-decoration: none !important;

		font-size: 14px;
		line-height: 1.71;
		margin-bottom: 4px;
	}
	&__artice{
		line-height: (16/12);
		color: $secondary;

		font-size: 12px;


		margin-bottom: 22px;
		@include media-breakpoint-up(sm){
			margin-bottom: 8px;
		}
	}
	//
	&__other-info{
		display: flex;
		align-items: center;
		.caution-box__caution{

		}
	}
	&__size{
		min-width: 32px;
		height: 32px;
		background-color: $primary;
		border-radius: rem(8);

		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;

		font-size: 14px;
		line-height: 1.71;
		color: $white;

		margin-right: 16px;
	}
}