mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.toggle-menu-mobile--js.d-lg-none
		span
	+b.menu-mobile--js.d-lg-none
		+b.toggle-menu-mobile--js
			span
		+e.inner
		
			+mnu()
			.text-right
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	.container
		+b.top-nav.block-with-lazy
			.row
				.col-auto
					+b.toggle-main-menu--js
						span
				.col-lg-auto.col
					+e.logo(href="/")
						img.res-i(src="img/svg/logoText.svg", alt="")
				.col.d-none.d-lg-block
					ul
						li: +e.link(href="#") New
						li: +e.link(href="#") Clothes
						li: +e.link(href="#") footwear
						li: +e.link(href="#") ACTION
						li: +e.link(href="#").text-danger Sale
				+e.col.col-auto.d-none.d-xl-block
					+e.link(href="#") sports
				.col-auto 
					+e.btn(href="#"): +icon("search")
				.col-auto.d-none.d-sm-block 
					+e.btn(href="#"): +icon("heart")
				.col-auto.d-none.d-sm-block 
					+e.btn(href="#"): +icon("stat")
				.col-auto 
					+e.btn(href="#"): +icon("user")
				.col-auto 
					+e.btn(href="#"): +icon("basket") 
	// end top-nav