mixin mob-mnu()
	//nav
	+b.main-nav 
		.row.no-gutters
			+e.left-col.col-md-auto
				.container
					+e.head.row.align-items-center.d-md-none
						.col
							+b.toggle-menu-mobile--js
									//- img.res-i(src="img/svg/arrow-long-left.svg", alt="")
									+icon("arrow-long-left")
						.col-auto
							+b.toggle-menu-mobile--js
								+icon("close")
					+e.nav
						ul
							li(data-tab="#tab-1"): a(href="#"): span Сlothes
							li(data-tab="#tab-2"): a(href="#"): span Footwear
						ul
							li(data-tab="#tab-3"): a(href="#") 
								img(src="img/@2x/menu-1.jpg", alt="")
								span Trail run
							li(data-tab="#tab-4"): a(href="#") 
								img(src="img/@2x/menu-2.jpg", alt="")
								span Tourism
							li(data-tab="#tab-5"): a(href="#") 
								img(src="img/@2x/menu-3.jpg", alt="")
								span Skee
							li(data-tab="#tab-6"): a(href="#") 
								img(src="img/@2x/menu-4.jpg", alt="")
								span Crossfit
							li(data-tab="#tab-7"): a(href="#") 
								img(src="img/@2x/menu-5.jpg", alt="")
								span Climbing
					+e.footer.d-md-none
						+e.footer-title contacts
						+e.tel(href="tel:+ 44 1202 946444") + 44 1202 946444
						+e.text Our social networks
						+soc()
			.col
				mixin tab(x,t)
					+b.main-categories-wrap(id=`tab-${x}`)&attributes(attributes): .container
						
						.d-md-none
							+e.head.row.align-items-center
								.col
									+b.toggle-menu-mobile--inner-js
											//- img.res-i(src="img/svg/arrow-long-left.svg", alt="")
											+icon("arrow-long-left")
								.col-auto
									+b.toggle-menu-mobile--js
										+icon("close")
							+e.title.h4.strong 
								a(href="#")= t
						+b.UL.main-categories
							mixin item(t,all, ...items)
								+e.LI.item
									+e.link--title(href="#")= t
									+e.UL.list
										each item in items
											li: +e.link--sm(href="#")= item
										if all
											li: +e.link--sm.text-danger(href="#")= all
							+item(`All clothes`,'','Running clothes','Summer clothes','Membrane clothes','Fleece','Thermal underwear','Warm clothing','Softshell','Ski clothing','Only discounts') 
							+item('Man',`All men's clothing`,'Membrane clothes','Softshell clothing','Fleece clothing','Summer clothes','Running clothes','Thermal underwear','Warm clothing','Winter clothes for the city','Ski clothing','Discounts') 
							+item('Woman',`All men's clothing`,'Membrane clothes','Softshell clothing','Fleece clothing','Summer clothes','Running clothes','Thermal underwear','Warm clothing','Winter clothes for the city','Ski clothing','Discounts')
							+item('Kids',`All men's clothing`,'Membrane clothes','Softshell clothing','Fleece clothing','Summer clothes','Running clothes','Thermal underwear','Warm clothing','Winter clothes for the city','Ski clothing','Discounts')
							+item('Accessory','All accessories','Caps and panama','Bandanas, scarves, dressings','Balaclava masks','Socks','Gloves','Mittens','Leggings','Hats','Cape & Cloaks','Belts and suspenders','Impregnation and washing')
				+tab('1','Сlothes')
				+tab('2','Footwear')
				+tab('3','Trail run')
				+tab('4',' Tourism')
				+tab('5','Skee')
				+tab('6','Crossfit')
				+tab('7','Climbing')
	// /nav
mixin top-nav() 
	// start top-nav
	.container
		+b.top-nav.block-with-lazy
			+e.row.row
				.col-auto
					+b.toggle-main-menu--js
						span
				.col-lg-auto.col
					+e.logo(href="/")
						img.res-i(src="img/svg/logoText.svg", alt="")
				+e.nav.col.d-none.d-lg-block
					ul
						li: +e.link(href="#") New
						li: +e.link(href="#") Clothes
						li: +e.link(href="#") footwear
						li: +e.link(href="#") ACTION
						li: +e.link(href="#").text-danger Sale
				+e.col.col-auto.d-none.d-xl-block
					+e.link(href="#") sports
				.col-auto 
					+e.btn(href="#")
						+icon("search")
				.col-auto.d-none.d-sm-block 
					+e.btn(href="#")
						+icon("heart")
				.col-auto.d-none.d-sm-block 
					+e.btn(href="#")
						+icon("stat")
				.col-auto 
					+e.btn(href="#")
						<svg class="icon icon-svg" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M9.1751 24.5275L9.17571 24.5272L12.6079 22.655L12.6083 22.6548C13.0797 22.3971 13.3728 21.9034 13.3728 21.3662V20.11V19.9421L13.2715 19.8083C13.0226 19.4793 12.3428 18.4983 12.0147 17.2131L11.9741 17.054L11.8471 16.9499C11.5944 16.7429 11.4486 16.4384 11.4486 16.1122V14.5735C11.4486 14.3198 11.5422 14.0697 11.7129 13.871L11.8336 13.7305V13.5452V11.5194V11.4943L11.8311 11.4694C11.8126 11.2848 11.7477 10.1921 12.5269 9.30369L12.527 9.30354C13.1959 8.54027 14.324 8.09888 15.9999 8.09888C17.6757 8.09888 18.8037 8.54027 19.4726 9.30389L19.4728 9.30413C20.2521 10.1926 20.1871 11.2843 20.1686 11.4701L20.1661 11.4949V11.5198V13.5456V13.7312L20.2871 13.8718C20.4578 14.07 20.5511 14.3199 20.5511 14.5739V16.1127C20.5511 16.5349 20.3101 16.9088 19.9315 17.0887L19.7421 17.1787L19.6735 17.3769C19.4103 18.1379 19.0502 18.8426 18.6029 19.4745C18.5151 19.598 18.4316 19.7084 18.3542 19.804L18.2427 19.9416V20.1187V21.4022C18.2427 21.9601 18.5546 22.4649 19.0539 22.7145L19.0539 22.7145L22.7285 24.5516C22.7285 24.5516 22.7286 24.5516 22.7286 24.5516C22.7655 24.5702 22.8027 24.5903 22.8404 24.6119V25.2613C22.7647 25.3195 22.6644 25.3941 22.5405 25.4803C22.2215 25.7024 21.7476 26.0014 21.1372 26.3012C19.9158 26.901 18.1562 27.5 15.9999 27.5C13.8453 27.5 12.0741 26.889 10.8397 26.2761C10.223 25.9699 9.74268 25.6644 9.41878 25.4373C9.29075 25.3475 9.18736 25.2701 9.10986 25.21V24.5645C9.1318 24.5515 9.15354 24.5392 9.1751 24.5275Z" stroke="#287EFF" class="bg"/>
							<circle cx="16" cy="16" r="11.5" stroke="#287EFF"/>
							</svg>
				.col-auto 
					+e.btn(href="#")
						<svg class="icon icon-svg" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M4.5 10.4058H27.5V23C27.5 24.933 25.933 26.5 24 26.5H8C6.067 26.5 4.5 24.933 4.5 23V10.4058Z" stroke="#287EFF"  class="bg"/>
							<path d="M9.63959 12.5L9.63959 9.2967C9.63959 9.2967 9.0114 4 16 4C22.9886 4 22.3604 9.2967 22.3604 9.2967V12.5" stroke="#287EFF"/>
							<path d="M11 13.8232C11 14.5065 10.409 15.1039 9.625 15.1039C8.84097 15.1039 8.25 14.5065 8.25 13.8232C8.25 13.14 8.84097 12.5426 9.625 12.5426C10.409 12.5426 11 13.14 11 13.8232Z" stroke="#287EFF"/>
							<path d="M23.75 13.8232C23.75 14.5065 23.159 15.1039 22.375 15.1039C21.591 15.1039 21 14.5065 21 13.8232C21 13.14 21.591 12.5426 22.375 12.5426C23.159 12.5426 23.75 13.14 23.75 13.8232Z" stroke="#287EFF"/>
							</svg>

			+mob-mnu()
	// end top-nav