 
	  
.soc{
	margin: 0 rem(-5px);
	display: flex;
	&__item{
		text-decoration: none !important;
		margin: 0 rem(5px);
		vertical-align: middle;
		@include mt;
		display: block;
		&:hover{
		 	// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			opacity: .6 ;
		}
		
	}
	.icon{
	font-size: rem(30);
	}
	 

}
 

.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

.section-title-vertical {
	
	h2 {
		letter-spacing: 0.1em;
		font-weight: 700;
		font-size: $small;
		text-transform: uppercase;
		@include media-breakpoint-only(xl) {
			z-index: 2;
			position: absolute;
			top: rem(54);
				left: rem(-33);
			color: $primary;
			transform: rotate(-90deg);
		}
	}
}

.tools {
	display: flex;
	margin-top: rem(17);

	&__share {
		cursor: pointer;
		margin-right: rem(16);
		display: block;
	}

	img {
		margin-right: rem(5);
	}

	span {
		color: $secondary;
		font-size: $xsmall;
	}
}

