
mixin item-sos(icon, a='#')
	+e.A.item(href= a target="_blank")
		if block
			block
		else
			+icon(icon)
//- scial buttons
mixin soc()
	+b.soc
		if block
			block
		else
			+item-sos('fb')
			+item-sos('instagram')
			+item-sos('telegram')

//- /scial buttons 